<!-- header.ejs partial -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Plant Site</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=PT+Sans:ital@0;1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/main.js"></script>
    </head>
    <body>
<!-- header.ejs partial - navigation area -->
            <nav class="navbar navbar-expand-sm bg-dark">
                <span class="navbar-brand"><img src="img/Branch2_3.png" height="30" alt="leaf" />Green House</span>
                <a class="nav-link" <%= isHomeCurrent %> href="/">Home</a>
                <a class="nav-link" <%= isYPCurrent %> href="/yourPlants">Your Plants</a>
                <!-- mr-auto needed to push sign and register to the right -->
                <a class="nav-link  mr-auto" <%= isPTCurrent %> href="/plantTalk">Plant Talk</a>
                <!-- API testing page from master branch -->
                <a class="nav-link" href="/test">API Testing - index.html</a>
                
                <a class="nav-link" <%= isSICurrent %> href="/signIn">Sign In</a>
                <a class="nav-link" <%= isRegCurrent %> href="/register">Register</a>
            </nav>