<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>
<!-- index.ejs - main content -->
          <% if (typeof error !== "undefined" && error) { %>
          <div class="alert alert-primary fade show" role="alert">
            <%= error %> 
          </div>
          <% } %>
        <br><br>
        <% imageUrlArray.forEach(function(imageUrl, i){ %>
            <img src='<%= imageUrl %>' width='200' alt='<%= genusArray[i] %>'/><br>
            Scientific name: <i><%= scienceNameArray[i] %></i> Family: <i><%= familyNameArray[i] %><br></i>
            Common name: <b><%= commonNameArray[i] %></b> Genus: <%= genusArray[i] %><br>
            <button <%= isVisible %> id='<%= idArray[i] %>;<%= imageUrl %>;<%= genusArray[i] %>;<%= scienceNameArray[i] %>;<%= familyNameArray[i] %>;<%= commonNameArray[i] %>;' class='option'>Add to my plants</button>
            <br><br>
        <% });%>
        <br><br>
        <br><br>
        <script src="/js/function.js"></script>
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>