<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>
<!-- index.ejs - main content -->
        <main>
            <header>
                <p>Results</p>
            </header>
            
            <section>
                <% if (typeof error !== "undefined" && error) { %>
                <div class="alert alert-primary fade show" role="alert">
                    <%= error %> 
                </div>
                <% } else if (imageUrlArray.length == 0) { %>
                    <div class="alert alert-primary" role="alert">
                    No results found.<br />
                    </div>
                <% } else if (isVisible == "hidden") { %>
                    <div class="alert alert-warning">Please sign in if you would like to add plants to your collection.</div>
                <% } %>
                <button class="btn btn-outline-success" onclick="window.history.back()">Back</button>
            </section>
            <br><br>
            <section>
                <div class="card-columns">
                    <% imageUrlArray.forEach(function(imageUrl, i){ %>
                        <article>
                            <div class="card bg-light shadow">            
                                <figure><img class="card-img-top" src='<%= imageUrl %>' width='200' alt='<%= genusArray[i] %>'/></figure>
                                <figcaption><div class="card-header">Scientific name: <i><%= scienceNameArray[i] %></i></div><div class="card-text">Family: <i><%= familyNameArray[i] %><br></i>
                                Common name: <b><%= commonNameArray[i] %></b><br/>Genus: <%= genusArray[i] %></div></figcaption><br />
                                <button <%= isVisible %> id='<%= idArray[i] %>;<%= imageUrl %>;<%= genusArray[i] %>;<%= scienceNameArray[i] %>;<%= familyNameArray[i] %>;<%= commonNameArray[i] %>;' class='option btn btn-outline-success'>Add to my plants</button>
                                <br /><br />
                            </div>
                        </article>
                    <% });%>
                </div>
            </section>
        </main>
        <script src="/js/results.js"></script>
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>