<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>

<!-- index.ejs - main content -->
        <main>
            <p><%= yourPlantsArray[0].FirstName %>'s Plants</p>
            <br />
            <form action="/findPlants">
                <button>Add Plant</button>
            </form>
            <br />
<!-- yourPlantsContainer start -->
            <div class="yourPlantsContainer">

                <% yourPlantsArray.forEach((yourPlantObj,i) => { %>
<!-- plantObj start -->
                <div class="plantObj rounded shadow">
                        <div id="plantProperties">
                            <div class="card bg-light"> 
                                <img class="card-img-top" src="<%= yourPlantObj.Image_Url %>" alt="plant common name <%= yourPlantObj.Common_Name %>"  />
                                <div class="card-header">
                                    Scientific Name: <%= yourPlantObj.Scientific_Name %>
                                </div>
                                <div class="card-text">
                                    Common Name: <%= yourPlantObj.Common_Name %><br />
                                    Family: <%= yourPlantObj.Family %><br />
                                    Genus: <%= yourPlantObj.Genus %><br />
                                </div>
                            </div>
                        </div>
                        <div id="plantProperties">
                            <form method="POST" action="/updatePlantProperties">
                                USDA Hardiness Zone:<br /><input type="text" name="hardiness" size="31" value="<%= yourPlantObj.Hardiness %>" /><br />
                                Watering Frequency:<br /><input type="text" name="waterFreq" size="31" value="<%= yourPlantObj.WaterFrequency %>" /><br />
                                Soil Used:<br /><input type="text" name="soil" size="31" value="<%= yourPlantObj.Soil %>" /><br />
                                Temperature:<br /><input type="text" name="temperature" size="31" value="<%= yourPlantObj.Temperature %>" /><br />
                                Light Exposure:<br /><input type="text" name="lightExposure" size="31" value="<%= yourPlantObj.LightExposure %>" /><br />
                                Fertilization:<br /><input type="text" name="fertilization" size="31" value="<%= yourPlantObj.Fertilization %>" /><br />
                                Notes:<br />
                                <textarea name="description" rows="4" cols="30"><%= yourPlantObj.Description %></textarea>
                                <input type="hidden" name="LoginId" value="<%= yourPlantObj.LoginId %>" />
                                <input type="hidden" name="PlantId" value="<%= yourPlantObj.PlantId %>" />
                                <button>Save</button> <button>Share</button>
                            </form>
                        </div>
                    </div>
                <% }); %>
<!-- plantObj end -->
            </div>
<!-- yourPlantsContainer end -->

        </main>
        
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>
